{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{% static 'css/users/users_list.css' %}">
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in users %}
            <tr>
                <td>{{ profile.user.username }}</td>
                <td>{{ profile.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
