ENV=production

# Database settings
DB_NAME=your-postgresql-database-name
DB_USER=your-postgresql-database-user
DB_PASSWORD=your-postgresql-database-password
DB_HOST=your-postgresql-database-url
DB_PORT=5432

AWS_STORAGE_BUCKET_NAME=your-aws-bucket-name
AWS_REGION=your-aws-bucket-region

#Optional
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key

MEDIA_STORAGE=aws_s3 # or local
USE_AWS_CREDENTIALS = False #if there is already a IAM role with all required permissions

USE_REDIS_FOR_SESSIONS_CACHE=True #in case redis is running in the background, False for local in memory
REDIS_HOST='127.0.0.1' #docker run -d --name redis -p 6379:6379 redis
REDIS_PORT=6379
REDIS_DB_NUMBER=1


